MY_API=a0jXzNjGDv14t4N1HOpeYdEE6fJA2SVu7mK77xyrXED8DNvl9Kca6JclBlp9YG2C
MY_SECRET_API=rQ7dhweXXeDB8jNchEOZEPr9tr9xW3W6WTJ5LtqwCsjk1jtXVy6kfjF7Ab7oxKeX

TWITTER_ACCESS_TOKEN=1665641648884260864-rEwnsvHeA3QaKR2qukZ8QZy8Lh0I93
TWITTER_ACCESS_TOKEN_SECRET=ub0MRxCAbVhIAeLXGFNeW48AGxtDR7EDxf7bGxtWECAmE